@media all {
    body {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-family: 'Italiana', sans-serif;
        font-size: 75px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    header h2 {
        font-size: 17px;
        text-transform: lowercase;
    }

    section {
        width: 7.5in;
        page-break-inside: avoid;
    }

    section h1 {
        font-size: 20px;
    }

    section h2 {
        font-size: 18px;
    }

    footer {
        width: 100%;
    }

    footer ul,
    footer p {
        text-align: center;
    }

    /* displaying LIs inline removes the dot */
    footer ul li {
        display: inline;
    }
    footer ul li + li:before {
        content: "● "; /* U+25CF */
    }
}

@media screen {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section + section {
        padding-top: 150px;
    }

    footer {
        margin-top: 1in;
    }
}

@media print {
    body {
        font-size: 12px;
        height: 100%;
    }
    section {
        padding: 10px 5%;
    }
    section.familiarities ul {
        column-count: 2;
    }

    /* footer at bottom of each printed page */
    footer {
        position: fixed;
        bottom: 0;
    }
}

@media
    screen {
        section.familiarities ul {
            column-count: 4;
        }
}

@media
    screen
    and (max-width: 800px) {
        section {
            width: 80%;
        }

        section.familiarities ul {
            column-count: 3;
        }

        header h1 {
            font-size: 60px;
        }
}

@media
    screen
    and (max-width: 680px) {
        footer ul li {
            display: block;
            list-style-type: none;
        }
        footer ul li + li:before {
            content: none;
        }
}

@media
    screen
    and (max-width: 600px) {
        section {
            width: 90%;
        }

        section.familiarities ul {
            column-count: 2;
        }

        header h1 {
            font-size: 60px;
        }
}

@media
    screen
    and (max-width: 450px) {
        section {
            width: 95%;
        }

        section.familiarities ul {
            column-count: 1;
        }

        header h1 {
            font-size: 50px;
        }
}

@media
    screen
    and (max-width: 400px) {
        section {
            width: 100%;
        }

        header h1 {
            font-size: 40px;
        }
}
